.vscode
*.out
*.o
*.txt
Projects/project1/project1
*.py
*.png
*.tar.gz
labs/lab4/iobound
labs/lab4/general_top.sh
labs/lab4/top_script.sh
submit/lab4/iobound
labs/lab4/top_script.sh
labs/lab4/iobound.c
labs/lab4/top_script.sh
Projects/project2/cpubound.c
Projects/project2/iobound.c
part1
